extends layout

block javascripts
  //jQuery Touch Hack
  script(type="text/javascript", charset="utf-8", src="/js/plugins/touchpunch/jquery.ui.touch-punch.min.js")
  script(type="text/javascript", charset="utf-8")
    $(document).ready(function(){
      $.getScript( "/js/com.chrisaiv.Remote.js" );
      //Delay the load until everything is ready
      $.getScript( "/js/com.chrisaiv.YouTubeTrending.js", function(){ 
        YouTubeTrending.initialize();
      });
    });

block stylesheets
  //YouTube data
  link(rel="stylesheet", type="text/css", href="/css/data.css")

  link(rel="stylesheet", type="text/css", href="/css/remote.css")
  //Seek + Volume scrubber
  link(rel="stylesheet", href="/css/smoothness/jquery-ui-1.9.2.custom.min.css")
  

block content
  .row
    .span10
      h3 Top 10 Trending Movies on YouTube
  
      br
  
      select(id="selections", name="videos[]")
        option(value="") Select a Movie:
        option(value="WivhDJRXCU4") City Lights

  hr 

  .row
    .span3
      h2 Controls
      a(href="#", id="play", class="play")
      a(href="#", id="mute", class="mute")
    .span4
      h2 Seek
      #slider-horizontal
  
    .span3
      h2 Volume
      p
        input(type="text", id="amount")
        
      div(id="slider-vertical", value="80", min="0", max="95")
