extends ./layouts/main

block javascripts
  //-script(defer, src='js/plugins.js')

block stylesheets
  style(type="text/css", media="screen")

block content
  div(class="container")
    div(class="hero-unit")
      h1 Scrub the TV
      p Control your desktop or large screen browser using a mobile device.
      ul 
        li Just point both your desktop and mobile browsers to this same URL and start watching
      br 
      p
        a(href="/tv", class="btn btn-primary btn-large") Start Watching &raquo;

    //Example row of columns
    div(class="row")
      div(class="span3")
        h2 Audience
        ul
          li Second screen consumers
          li Social TV viewers
          li Internet TV users
          li Interactive Producers
          li Transmedia academics

      div(class="span3")
        h2 Objective
        p Through social technology and second screen thinking, new opportunities for rich, interactive storytelling can provide a new pattern for Television consumption.

      div(class="span3")
         h2 Strategy
         p Present a second screen experience using rapid technologies (like HTML, CSS and Javascript) to help producers better understand the new user frustrations and opportunities.

      div(class="span3")
         h2 Technology
         ul  
           li NodeJS
           li ExpressJS
           li Socket.io
           li jQuery
           li Twitter Bootstrap