extends ./layouts/main

block javascripts
  //-script(defer, src='js/plugins.js')

block stylesheets
  style(type="text/css", media="screen")

block content
  div(class="container")
    //Main hero unit for a primary marketing message or call to action
    div(class="hero-unit")
      h1 Second screen demo
      p  Control your desktop or large screen browser using Safari mobile on your iPhone.
      p
        a(href="/tv", class="btn btn-primary btn-large") Start Watching &raquo;

    //Example row of columns
    div(class="row")
      div(class="span4")
        h2 Why was this created?
        p TV watching has traditionally been seen as a passive experience. Through social technology and second screen thinking, new opportunities for rich, interactive stories are created.

      div(class="span4")
        h2 How was this built?
        p Full Javascript stack: NodeJS, ExpressJS, Socket.io, YouTube API, jQuery.
        p Keeping the entire stack in HTML5 and Javascript makes it possible to iterate quickly and fluidly and really focus on the core user experience.

      div(class="span4")
         h2 What's next?
         p Changes in distributed content, hardware manufacturing, and consumer behavior will also need to catch-up in order to provide a compelling second screen experience. So in short, we don't know what's to come next but that's OK. What's more important is we enjoy the rollercoaster ride.
