extends layout

block javascripts
  //jQuery Touch Hack
  script(type="text/javascript", charset="utf-8", src="/js/plugins/touchpunch/jquery.ui.touch-punch.min.js")
  script(type="text/javascript", charset="utf-8")
    $(document).ready(function(){
      $.getScript( "/js/com.chrisaiv.Remote.js" );
      //Delay the load until everything is ready
      $.getScript( "/js/data.js", getScriptCompleteHandler);
        function getScriptCompleteHandler(){
          loadFeed()
        }	
    });

block stylesheets
  //YouTube data
  link(rel="stylesheet", type="text/css", href="/css/data.css")

  link(rel="stylesheet", type="text/css", href="/css/remote.css")
  //Seek + Volume scrubber
  link(rel="stylesheet", href="/css/smoothness/jquery-ui-1.9.2.custom.min.css")
  

block content
  div(class="container")
    div(class="row")
      div(class="span10")
        h3 Top 10 Trending Movies on YouTube

        br

        section(id="selections")
          select(id="videos", name="videos[]")
            option(value="") Select a Movie:
            option(value="WivhDJRXCU4") City Lights

    hr 

    div(class="row")
      div(class="span3")
        h2 Controls
        a(href="#", id="play", class="play")
        a(href="#", id="mute", class="mute")
      div(class="span4")
        h2 Seek
        div(id="slider-horizontal")

      div(class="span3")
        h2 Volume
        p
          input(type="text", id="amount")
        div(id="slider-vertical", value="80", min="0", max="95")
